*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

nav{
    background-color: #de9754;
    color: #ffffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: larger;
}

nal ul li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nal li a{
    /*padding: 10px 10px;*/
    background-color: #bebebe;
    color: #ffffffff;

}